body
{
    background: #DFDFDF;
    color: #000;
    overflow: hidden;
}

p.notifty
{
    background: #C3C3C3;
    margin: 5p;
    padding: 20PX;
    text-transform: uppercase;
    -webkit-app-region: drag;
}

.row2
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
}

input
{
    padding:12px;
}

#CloseBtn
{
    cursor: pointer;
    padding: 20px;
    text-decoration: underline;
}
html, body
{
    background-color: rgba(250, 250, 250, 0.5);
    height:100%
}